/* ----Page format began------------------------------------------- */

html{
    /* font-size: 6.25px; */
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Nunito Sans', 'Roboto', sans-serif;
    
   }

:root{
    --color-text: #001427;
    --color-title: #8D0801;
    --color-terroir: #708D81;
    --color-info: #F4D58D;
    --color-wine: #4C2970;
}

h1 {
    color: var(--color-wine);
}

p{
    color: var(--color-text);
}
/* --------------------------------------------Page format ends------------------------------------------- */
/* ----Main Grid body begans--------------------------*/

body{
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.4fr 1fr 0.4fr;
    gap: 0px;
    margin: 0px;
    grid-template-areas: "header header header header header"
                         "main main main main main"
                         "historia regiones variedades colaboradores mundo"
                         "footer footer footer footer footer";
   height: 100vh;


}
/*--------------------------------------------Main Grid body ends--------------------------------------------*/
/* ----Header format began------------------------------------------- */

img{
    max-width: 10%;
    height: auto;
}

.grid-img{
    display: grid;
    text-align:center;
    grid-area: img;
}

.grid-header{
    display: grid;
    text-align:center;
    grid-area: header;
    font-size: 10px;
    background-color: var(--color-terroir);
}
.intro-web{
    text-transform: uppercase;
}

/* --------------------------------------------Header format ends------------------------------------------- */
/* ----Main format began------------------------------------------- */

.grid-intro{
    display: grid;
    text-align: center;
    grid-area: main;
}



/*--------------------------------------------Main format ends------------------------------------------- */
/* ----Section format began------------------------------------------- */





ul.menu{
    list-style-type:none;
}










/* --------------------------------------------Section format ends------------------------------------------- */
/* ----Footer format began------------------------------------------- */









/* --------------------------------------------Footer format ends------------------------------------------- */
