/* STARTS-----Page format------------------------------------------- */

html{
    font-size: 6.25px;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Nunito Sans', 'Roboto', sans-serif;
    
   }

:root{
    --color-text: #001427;
    --color-title: #8D0801;
    --color-terroir: #708D81;
    --color-info: #F4D58D;
    --color-wine: #4C2970;
}

h1 {
    color: var(--color-wine);
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}

p{
    color: var(--color-text);
    font-size: 3rem;
}





/* ENDS--------------------------------------------Page format------------------------------------------- */

/* STARTS-----Main Grid body--------------------------*/

.main-grid{
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.6fr 0.6fr;
    grid-template-rows: 0.4fr 1fr 1fr 0.4fr;
    gap: 1rem;
    margin: 0rem;
    justify-content: center;
    grid-template-areas: "header header header header"
                          "intro intro colaboradores variedades"
                          "intro intro historia regiones"
                          "footer footer footer footer";

}
/* ENDS-----------------------------------------Main Grid body--------------------------------------------*/

/* STARTS------Header format------------------------------------------- */


header{
    display: grid;
    text-align:center;
    grid-area: header;
    background-color: goldenrod;
    max-width: 100%;
    height: 50%;

   }


.intro{
    display: grid;
    text-align:center;
    grid-area: intro;
    background-color: lawngreen;
    text-align: left;
    max-width: 100%;
   
   }

/* ENDS------------------------------------------Header format------------------------------------------- */


/* STARTS-----Section format------------------------------------------- */

.colaboradores{
    display: grid;
    text-align: center;
    grid-area: colaboradores;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 100%;
   }

/* .tarjeta-colaboradores{
   justify-content: center;
   overflow: hidden;
   box-shadow: 0rem 0.2rem 0.8rem 0rem var(--color-text);
   background-color: whitesmoke;
   text-align: center;
   border-radius: 1.5rem;
   position: relative;
   margin: 0.5rem 0.3rem 0.5rem 0.3rem;
    
}

.img-background{
    position:absolute;
    background-image: url("../images/toscana.jpg");
    height: 0.5rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */


   
.variedades{
    display: grid;
    text-align:center;
    grid-area: variedades;
    background-color: rgb(0, 101, 252);
    padding-top: auto;
    padding-bottom: auto;
    max-width: 100%;

   }
   
.historia{
    display: grid;
    text-align:center;
    grid-area: historia;
    background-color: lawngreen;
    padding-top: auto;
    padding-bottom: auto;
    max-width: 100%;
   }

.regiones{
    display: grid;
    text-align:center;
    grid-area: regiones;
    background-color: rgb(0, 101, 252);
    padding-top: auto;
    padding-bottom: auto;
    max-width: 100%;
   }













/* ENDS-----------------------------------------Section format------------------------------------------- */
/* STARTS------Footer format------------------------------------------- */

footer{
    display: grid;
    text-align:center;
    grid-area: footer;
    background-color: rgb(0, 101, 252);
    padding-top: auto;
    padding-bottom: auto;
    width: 100%;
   }







/* ENDS------------------------------------------Footer format------------------------------------------- */
